# gitignore: especifica los archivos que deben ser ignorados por Git
edit/data
edit/cache
*errors.log

# Ignoramos todo sobre Composer
!composer.json
composer.lock
composer.phar
vendor/

view/!composer.json
view/composer.lock
view/composer.phar
view/vendor/
!view/deepwiki-themes/default/vendor/
!view/deepwiki-themes/yussel/