<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>No encontrado &raquo; {{site_name}}</title>
		<meta name="viewport" content="width=device-width, maximum-scale=1.0" />
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.3/lottie.min.js"></script>
		{{head_404}}
		<link rel="stylesheet" href="https://yussel.com.mx/asset/css/apercu.css">
	</head>
	<body class="min-h-screen bg-stone-200 text-xl pt-4 pb-4 gap-4 flex flex-col items-center justify-center">
		<div id="animation" class="animation mb-2">
			<img id="illustration" src="img/dog.svg" alt="">
		</div>
		<h1>404</h1>
		<p>No encontramos la página que buscas.</p>
		<br><br>
		<a class="btn --solid" href="../">Inicio</a>
	</body>
</html>