<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<title>Conectarse &raquo; {{site_name}}</title>
	<meta name="viewport" content="width=device-width, maximum-scale=1.0" />

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

	{{html_head}}

</head>
<body>

	<header class="d-flex flex-column flex-md-row align-items-center p-1 px-md-4 mb-3 bg-white border-bottom shadow-sm">
	  <h5 class="my-0 mr-md-auto font-weight-normal"><a class="navbar-brand" href="{{site_uri}}" title="{{site_description}}"><i class="fa fa-home"></i> {{site_name}}</a></h5>
	  <p class="p-2 m-0 text-dark hidden-xs">{{site_description}}</p>
	</header>

	<div class="container-fluid">

		<div class="row">

			<section id="wiki-login" class="col-12" role="main">
				{{login_form}}
			</section>

		</div>

	</div>

	<footer id="wiki-footer" role="contentinfo">
		<div class="container-fluid">
			<p class="text-muted">{{copyright}}</p>
		</div>
	</footer>

{{body_footer}}

</body>
</html>
